.header{
    @include margins-base;
    @include flex-center-space;
    margin-top:40px;
    font-weight: $font-weight-base;
    margin-bottom: 90px;
    flex-wrap: nowrap;
    flex-shrink: 0;
    
    &__logo{
        width: 126px;
        margin-right: 350px;
    }

    &__nav{
        flex-shrink: 0 ;
        width: 500px;
        @include flex-center-space;
        color: $lightblack;
        margin-right: 70px;

        &__home{
            font-weight: $font-weight-bold;
        }

        &__home, &__about , &__services, &__teams{
            color: $lightblack;
        }
    }

    &__button{
        background-color:$blue;
        color: $white;
        flex-wrap: nowrap;  
    }

    @media (max-width:1300px) {
        @include margins-medium;
        
        &__logo{
            margin-right: 80px;
        }

        &__nav{
            font-size: $font-size-smaller;
            width: 400px;
            margin-right: 40px;
        }

        &__button{
            font-size: $font-size-smaller;
        }
    }

    @media (max-width:800px) {
        &__logo{
            margin-right: 20px;
        }

        &__nav{
            width: 280px;
            margin-right: 15px;
        }

        &__button{
            padding:8px 16px;
        }
    }
}

.info{
    @include margins-base;
    @include flex-column;
    margin-bottom: 160px;

    &__text{
        @include flex-center-space;
        color: $lightblack;
        width: 100%;
        &__quote{
            font-size: $font-size-bigger;
            font-weight: $font-weight-bolder;
            width: 680px;
            position: relative;

            &::after{
                position: absolute;
                content: '';
                height: 3px;
                width: 700px;
                background-color: $black;
                top:50px;
                left:610px;
            }   
        }

        &__reversed-text{
            width: 178px;
            font-weight: $font-weight-medium;
            transform: rotate(-90deg);
            margin-right: -60px;
            margin-bottom: -170px;
        }
    }
    
    &__picture{
        margin-top:40px;
        position: relative;

        &__img{
            z-index: -1;
            width: 1400px;   
        }

        &__details{
            @include flex-column;
            position: absolute;
            text-align: center;
            background-color: $blue;
            width: 252px;
            color: $white;
            padding-top:40px;
            padding-bottom:40px;
            top: -210px;
            right: 180px;            

            &__count{
                font-size: $font-size-big;
            }

            &__name{
                font-size: $font-size-small; 
            }
        }
    }

    @media (max-width:1300px) {
        @include margins-medium;
        margin-bottom: 60px;

        &__text{
                
            &__quote{
                font-size:$font-size-big;
                width: 340px;

                &::after{
                    content: none;
                }
            }

            &__reversed-text{
                font-size: $font-size-smaller;
                margin-top:-80px;
            }
        }

        &__picture__details{
            width: 200px;
            padding-top:20px;
            padding-bottom:20px;
            &__count{
                font-size: $font-size-medium;
            }
            &__name{
                font-size: $font-size-smaller;
            }
        }
    }

    @media (max-width:800px){
        &__picture__details{
            padding: 5px 0;
            top:-30px;
            &__count{
                font-size: $font-size-base;
            }
        }

    }
}

.about{
    @include margins-base;
    @include flex-column;
    row-gap: 60px;
    margin-bottom: 160px;

    &__top{
        @include flex-column;
        row-gap: 20px;

        &__title{
        font-size: $font-size-small;
        color:$black;
        font-weight: $font-weight-medium;
        position: relative;

            &::after{
                content: '';
                height: 1px;
                background-color: $black;
                width: 520px;
                position: absolute;
                top:10px;
                left:70px;
            }
        }

        &__quote {
            font-size:$font-size-medium;
            color: $lightblack;
            font-weight: $font-weight-bold;
        } 
    }

    &__bottom{
        @include flex-row;
        column-gap: 90px;

        &__left{
            position: relative;
            &__img{
                min-width: 250px;
                width: 880px;
                z-index: -1;
            }

            &__ceo{
                background-color: $white;
                width: 275px;
                position: absolute;
                @include flex-row;
                column-gap: 15px;
                padding: 19px 50px 19px 20px;
                top: 30px;
                right: -200px;
                box-shadow: 10px 10px 40px $black-shadow;

                &__info{
                    @include flex-column;

                    &__name{
                        font-weight: $font-weight-bold;
                    }

                    &__position{
                        color: $gray;
                    }
                }
            }
        }
        &__right{
            @include flex-column;
            row-gap:40px;
            align-items: flex-start;

            &__text{
                width: 223px;
                color: $gray;
                font-size: $font-size-base;
            }

            &__button{
                background-color: $blue;
                color: $white;
                font-size: $font-size-smaller;
                font-weight: $font-weight-medium;
            }
        }
    }
    @media (max-width:1300px) {
        @include margins-medium;
        row-gap:20px;
        margin-bottom: 100px;

        &__top{

            &__title{
                font-size: $font-size-small;

                &::after{
                    width: 400px;
                }
            }

            &__quote{
                font-size: $font-size-base;
            }
        }

        &__bottom{
            column-gap: 40px;

            &__left__ceo{
                width: 250px;
                top:10px;
                right: -70px;
                padding: 10px 20px 10px 5px;
            }

        }


    }

    @media (max-width:800px) {
        margin-bottom: 60px;

        &__top__title::after{
            width: 250px;
        }

        &__bottom{
            column-gap:15px;
        
            &__left__ceo{
                width: 180px;
                top:10px;
                right: -80px;
                padding: 5px 10px 5px 5px;

                &__info{

                    &__name{
                        font-size: $font-size-smaller;
                    }

                    &__position{
                        font-size: $font-size-smaller
                    }
                }

            }

            &__right{

                &__text{
                    font-size: $font-size-smaller;
                }
    
                &__button{
                    padding:8px 16px;
                    font-size: $font-size-smaller;
                    font-weight: $font-weight-base;
                }
            }
        }

    }


}

.service{
    @include margins-base;
    position: relative;
    margin-bottom: 560px;
    &__text{
        @include flex-column;
        row-gap: 20px;
        background-color: $white;
        padding-right: 40px;
        max-width: 880px;
    
        &__title{
            font-size: $font-size-small;
            color: $black;
            position: relative;

            &::after{
                position: absolute;
                content: '';
                height: 2px;
                width: 500px;
                background-color: $black;
                top:12px;
                left:80px;
            }
        }

        &__quote{
            font-size: $font-size-medium;
            color: $lightblack;
        }

        &__description{
            color: $gray;
            width: 430px;
        }

        &__services{
            @include flex-column;

            &__line{
                @include flex-row;
                font-size: $font-size-under-medium;
                column-gap: 35px;
                margin-bottom: 35px;

                .arrow{
                    margin-left: auto;
                    cursor: pointer;
                }
            }
        }
    }

    &__img{
        position: absolute;
        z-index: -1;
        top:304px;
        left: 124px;
    }

    @media (max-width:1300px){
        @include margins-medium; 

        &__text{

            &__title{
                &::after{
                    width: 400px;
                    height: 1px;
                }
            }

            
        }

        &__img{
            left:70px;
        }
    }

    @media (max-width:800px){
        &__text{
            width: 600px;

            &__title::after{
                width: 200px;
            }

            &__quote{
                font-size: $font-size-under-medium;
            }

            &__description{
                font-size: $font-size-smaller;
            }

            &__services{
                font-size: $font-size-small;
            }
        }

        &__img{
            left:0;
        }
    }
}

.product{
    @include margins-base;
}