$font-base: Poppins, Arial;
$font-size-smaller:14px;
$font-size-small:16px;
$font-size-base: 18px;
$font-size-medium:36px;
$font-size-big:52px;
$font-size-bigger:72px;
$font-weight-base: 400;
$font-weight-medium: 500;
$font-weight-bold:600;
$font-weight-bolder: 700;