@mixin flex-center-space{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-row{
    display: flex;
    align-items: center;
}

@mixin margins-base{
    margin-left:100px;
    margin-right: 100px;
}
@mixin margins-medium{
    margin-left: 30px;
    margin-right: 30px;
}

@mixin flex-column{
    display: flex;
    flex-direction: column;
}