body{
    padding:0;
    font-family: $font-base;
    font-weight: $font-weight-base;
    font-size: $font-size-base;
}

a{
    text-decoration: none;
}

button{
    padding: 14px 32px;
    font-size: $font-size-smaller;
    border: none;
}