body, div, p, span, header, footer, section, nav, a, button, img, input {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

header, footer, section, nav, div {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-size: clamp(12px, 1vw, 18px);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

input {
  background: none;
  border: none;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  outline: none;
}

body {
  padding: 0;
  font-family: Poppins, Arial;
}

a {
  text-decoration: none;
}

button {
  padding: 14px 32px;
  font-size: 14px;
  border: none;
}

.header {
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  margin-bottom: 90px;
  flex-wrap: nowrap;
  flex-shrink: 0;
}
.header__logo {
  width: 126px;
  margin-right: 350px;
}
.header__nav {
  flex-shrink: 0;
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333333;
  margin-right: 70px;
}
.header__nav__home {
  font-weight: 600;
}
.header__nav__home, .header__nav__about, .header__nav__services, .header__nav__teams {
  color: #333333;
}
.header__button {
  background-color: #2C3878;
  color: #FFFFFF;
  flex-wrap: nowrap;
}
@media (max-width: 1250px) {
  .header .header {
    margin-left: 30px;
    margin-right: 30px;
  }
  .header__logo {
    margin-right: 100px;
  }
}

.info {
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  margin-bottom: 160px;
}
.info__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333333;
  width: 100%;
}
.info__text__quote {
  font-size: 72px;
  font-weight: 700;
  width: 680px;
  position: relative;
}
.info__text__quote::after {
  position: absolute;
  content: "";
  height: 3px;
  width: 700px;
  background-color: #000000;
  top: 50px;
  left: 610px;
}
.info__text__reversed-text {
  width: 178px;
  font-weight: 500;
  transform: rotate(-90deg);
  margin-right: -60px;
  margin-bottom: -170px;
}
.info__picture {
  margin-top: 40px;
  position: relative;
}
.info__picture__img {
  z-index: -1;
  width: 1400px;
}
.info__picture__details {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #2C3878;
  width: 252px;
  color: #FFFFFF;
  padding-top: 40px;
  padding-bottom: 40px;
  top: -210px;
  right: 180px;
}
.info__picture__details__count {
  font-size: 52px;
}
.info__picture__details__name {
  font-size: 16px;
}
@media (max-width: 1250px) {
  .info .info {
    margin-left: 30px;
    margin-right: 30px;
  }
  .info .info__text__quote {
    font-size: 52px;
    width: 340px;
  }
  .info .info__text__quote::after {
    content: none;
  }
  .info .info__text__reversed-text {
    font-size: 14px;
    margin-top: -80px;
  }
  .info__picture__details {
    width: 150px;
    padding-left: 8px;
    padding-right: 8px;
  }
  .info__picture__details__count {
    font-size: 36px;
  }
  .info__picture__details__name {
    font-size: 14px;
  }
}

/*# sourceMappingURL=styles.css.map */
