body, div, p, span, header, footer, section, nav, a, button, img, input {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  font-size: inherit;
}

header, footer, section, nav, div {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-size: clamp(12px, 1vw, 18px);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

input {
  background: none;
  border: none;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  outline: none;
}

body {
  padding: 0;
  font-family: Poppins, Arial;
  font-weight: 400;
  font-size: 18px;
}

a {
  text-decoration: none;
}

button {
  padding: 14px 32px;
  font-size: 14px;
  border: none;
}

.header {
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  font-weight: 400;
  margin-bottom: 90px;
  flex-wrap: nowrap;
  flex-shrink: 0;
}
.header__logo {
  width: 126px;
  margin-right: 350px;
}
.header__nav {
  flex-shrink: 0;
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 70px;
}
.header__nav-home {
  font-weight: 600;
}
.header__nav-link {
  color: #333333;
}
.header__button {
  background-color: #2C3878;
  color: #FFFFFF;
  flex-wrap: nowrap;
}
@media (max-width: 1300px) {
  .header {
    margin-left: 30px;
    margin-right: 30px;
  }
  .header__logo {
    margin-right: 80px;
  }
  .header__nav {
    font-size: 14px;
    width: 400px;
    margin-right: 40px;
  }
  .header__button {
    font-size: 14px;
  }
}
@media (max-width: 800px) {
  .header__logo {
    margin-right: 20px;
  }
  .header__nav {
    width: 280px;
    margin-right: 15px;
  }
  .header__button {
    padding: 8px 16px;
  }
}

.info {
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  margin-bottom: 160px;
}
.info__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333333;
  width: 100%;
}
.info__quote {
  font-size: 72px;
  font-weight: 700;
  width: 700px;
  position: relative;
}
.info__quote::after {
  position: absolute;
  content: "";
  height: 3px;
  width: 100%;
  min-width: 750px;
  min-width: 400px;
  background-color: #000000;
  top: 50px;
  left: 550px;
}
.info__reversed-text {
  width: 178px;
  font-weight: 500;
  transform: rotate(-90deg);
  margin-right: -60px;
  margin-bottom: -170px;
}
.info__bottom {
  margin-top: 40px;
  position: relative;
}
.info__img {
  z-index: -1;
  width: 1400px;
}
.info__details {
  display: flex;
  flex-direction: column;
  position: absolute;
  text-align: center;
  row-gap: 20px;
  background-color: #2C3878;
  width: 252px;
  color: #FFFFFF;
  padding-top: 40px;
  padding-bottom: 40px;
  top: -210px;
  right: 180px;
}
.info__details-count {
  font-size: 52px;
}
.info__details-name {
  font-size: 16px;
}
@media (max-width: 1400px) {
  .info__quote::after {
    width: 500px;
  }
}
@media (max-width: 1300px) {
  .info {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 60px;
  }
  .info__quote {
    font-size: 52px;
    width: 340px;
  }
  .info__quote::after {
    content: none;
  }
  .info__reversed-text {
    font-size: 14px;
    margin-top: -80px;
  }
  .info__details {
    padding: 20px 0 20px 0;
    row-gap: 15px;
    width: 200px;
  }
  .info__details-count {
    font-size: 36px;
  }
  .info__details-name {
    font-size: 14px;
  }
}
@media (max-width: 800px) {
  .info__quote {
    font-size: 36px;
    font-weight: 600;
  }
  .info__reversed-text {
    margin-top: -120px;
  }
  .info__details {
    row-gap: 10px;
    padding: 10px 0;
    top: -30px;
  }
  .info__details-count {
    font-size: 18px;
  }
}

.about {
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  flex-direction: column;
  row-gap: 60px;
  margin-bottom: 160px;
}
.about__top {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.about__title {
  font-size: 16px;
  color: #000000;
  font-weight: 500;
  position: relative;
}
.about__title::after {
  content: "";
  height: 1px;
  background-color: #000000;
  width: 520px;
  position: absolute;
  top: 10px;
  left: 70px;
}
.about__quote {
  font-size: 36px;
  color: #333333;
  font-weight: 600;
}
.about__bottom {
  display: flex;
  align-items: center;
  column-gap: 90px;
}
.about__left {
  position: relative;
}
.about__img {
  min-width: 250px;
  width: 880px;
  z-index: -1;
}
.about__ceo {
  background-color: #FFFFFF;
  width: 275px;
  position: absolute;
  display: flex;
  align-items: center;
  column-gap: 15px;
  padding: 19px 50px 19px 20px;
  top: 30px;
  right: -200px;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.0509803922);
}
.about__ceo-info {
  display: flex;
  flex-direction: column;
}
.about__ceo-name {
  font-weight: 600;
}
.about__ceo-position {
  color: #9C9C9C;
}
.about__right {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  align-items: flex-start;
}
.about__description {
  width: 223px;
  color: #9C9C9C;
  font-size: 18px;
}
.about__button {
  background-color: #2C3878;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
}
@media (max-width: 1300px) {
  .about {
    margin-left: 30px;
    margin-right: 30px;
    row-gap: 20px;
    margin-bottom: 100px;
  }
  .about__title {
    font-size: 16px;
  }
  .about__title::after {
    width: 400px;
  }
  .about__quote {
    font-size: 18px;
  }
  .about__bottom {
    column-gap: 40px;
  }
  .about__ceo {
    width: 250px;
    top: 10px;
    right: -40px;
    padding: 10px 15px 10px 5px;
  }
}
@media (max-width: 800px) {
  .about {
    margin-bottom: 60px;
  }
  .about__title::after {
    width: 250px;
  }
  .about__bottom {
    column-gap: 15px;
  }
  .about__ceo {
    width: 180px;
    top: 10px;
    right: -10px;
    padding: 5px 10px 5px 5px;
  }
  .about__ceo-name {
    font-size: 14px;
  }
  .about__ceo-position {
    font-size: 14px;
  }
  .about__description {
    font-size: 14px;
  }
  .about__button {
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 400;
  }
}

.service {
  margin-left: 100px;
  margin-right: 100px;
  position: relative;
  margin-bottom: 560px;
}
.service__container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  background-color: #FFFFFF;
  padding-right: 40px;
  max-width: 850px;
  color: #333333;
}
.service__title {
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  position: relative;
}
.service__title::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 500px;
  background-color: #000000;
  top: 12px;
  left: 80px;
}
.service__quote {
  font-weight: 600;
  font-size: 36px;
  color: #333333;
}
.service__description {
  color: #9C9C9C;
  width: 430px;
}
.service__list {
  display: flex;
  flex-direction: column;
}
.service__item {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 24px;
  column-gap: 35px;
  margin-bottom: 35px;
}
.service__item .arrow {
  margin-left: auto;
  cursor: pointer;
}
.service__img {
  position: absolute;
  z-index: -1;
  top: 304px;
  left: 90px;
}
@media (max-width: 1300px) {
  .service {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 450px;
  }
  .service__title::after {
    width: 400px;
    height: 1px;
  }
  .service__img {
    width: 900px;
    left: 70px;
  }
}
@media (max-width: 800px) {
  .service {
    margin-bottom: 300px;
  }
  .service__container {
    width: 600px;
  }
  .service__title::after {
    width: 200px;
  }
  .service__quote {
    font-size: 24px;
  }
  .service__description {
    font-size: 14px;
  }
  .service__item-number, .service__item-name {
    font-size: 18px;
  }
  .service__img {
    left: 0;
  }
}

.product {
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 160px;
}
.product__top {
  margin-bottom: 75px;
}
.product__title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
  position: relative;
}
.product__title::after {
  position: absolute;
  content: "";
  height: 1.5px;
  width: 500px;
  background-color: #333333;
  top: 12px;
  left: 80px;
}
.product__container {
  display: flex;
  align-items: center;
}
.product__quote {
  color: #333333;
  max-width: 330px;
  font-size: 36px;
  font-weight: 600;
  min-width: 150px;
}
.product__description {
  max-width: 420px;
  color: #9C9C9C;
  margin-left: auto;
}
.product__list {
  display: flex;
  flex-direction: column;
  row-gap: 45px;
}
.product__item {
  display: flex;
  align-items: center;
  align-items: flex-start;
  color: #333333;
  column-gap: 90px;
}
.product__item-number {
  font-size: 36px;
  font-weight: 600;
}
.product__item .arrow {
  margin-left: auto;
  cursor: pointer;
}
.product__service {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.product__service-name {
  font-size: 36px;
  font-weight: 600;
}
.product__service-description {
  width: 470px;
}
@media (max-width: 1300px) {
  .product {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 100px;
  }
  .product__title::after {
    width: 350px;
  }
  .product__top {
    margin-bottom: 40px;
  }
  .product__quote {
    font-size: 24px;
  }
  .product__description {
    max-width: 320px;
  }
  .product__item {
    column-gap: 50px;
  }
  .product__item-number {
    font-size: 24px;
  }
  .product__service-name {
    font-size: 24px;
  }
  .product__service-description {
    width: 350px;
  }
}

.material {
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  align-items: center;
  margin-bottom: 160px;
  position: relative;
}
.material__title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #141414;
  position: relative;
}
.material__title::after {
  position: absolute;
  content: "";
  height: 1.5px;
  width: 550px;
  background-color: #000000;
  top: 12px;
  left: 95px;
}
.material__quote {
  font-size: 36px;
  font-weight: 600;
  color: #333333;
  max-width: 340px;
  margin-bottom: 15px;
}
.material__description {
  color: #9C9C9C;
  max-width: 490px;
  margin-bottom: 25px;
}
.material__button {
  background-color: #FFFFFF;
  color: #333333;
  font-size: 16px;
  font-weight: 500;
  border: solid 1px #333333;
}
.material__img {
  position: absolute;
}
.material__right .pic-1 {
  top: 50px;
  left: 580px;
}
.material__right .pic-2 {
  top: -55px;
  left: 960px;
}
.material__right .pic-3 {
  top: 220px;
  left: 960px;
}
@media (max-width: 1300px) {
  .material {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 140px;
  }
  .material__title::after {
    width: 450px;
  }
  .material__quote {
    font-size: 24px;
  }
  .material__description {
    font-size: 16px;
    max-width: 370px;
  }
  .material__right .pic-1 {
    width: 270px;
    left: 380px;
  }
  .material__right .pic-2 {
    width: 190px;
    top: 10px;
    left: 685px;
  }
  .material__right .pic-3 {
    width: 155px;
    left: 685px;
  }
}
@media (max-width: 800px) {
  .material {
    margin-bottom: 50px;
  }
  .material_title::after {
    width: 100px;
  }
  .material__quote {
    max-width: 200px;
  }
  .material__description {
    font-size: 14px;
    max-width: 210px;
  }
  .material__button {
    padding: 10px 18px;
    font-weight: 400;
  }
  .material__right .pic-1 {
    width: 170px;
    left: 260px;
    top: 80px;
  }
  .material__right .pic-2 {
    width: 120px;
    top: 30px;
    left: 450px;
  }
  .material__right .pic-3 {
    width: 95px;
    top: 165px;
    left: 450px;
  }
}

.footer {
  width: 100vw;
  background-color: #2C3878;
  height: 200px;
  margin-bottom: 100px;
}
.footer__container {
  margin-left: 100px;
  margin-right: 100px;
  height: inherit;
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.footer__quote {
  font-size: 36px;
  font-weight: 600;
  color: #FFFFFF;
  width: 610px;
}
.footer__right {
  width: 430px;
  margin-left: auto;
}
.footer__right-text {
  color: #D9D9D9;
  margin-bottom: 20px;
}
.footer__right-button {
  font-size: 14px;
  font-weight: 500;
  color: #333333;
  background-color: #FFFFFF;
}
@media (max-width: 1300px) {
  .footer__container {
    margin-left: 30px;
    margin-right: 30px;
  }
  .footer__quote {
    width: 580px;
    font-size: 24px;
    font-weight: 500;
  }
  .footer__right {
    width: 370px;
  }
}
@media (max-width: 800px) {
  .footer__quote {
    width: 500px;
    font-size: 18px;
    font-weight: 500;
  }
  .footer__right {
    width: 370px;
  }
  .footer__right-text {
    font-size: 16px;
  }
  .footer__right-button {
    padding: 10px 16px;
  }
}

.social {
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}
.social__left {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.social__logo {
  width: 126px;
}
.social__quote {
  font-size: 36px;
  font-weight: 600;
  color: #333333;
  width: 480px;
}
.social__right {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.social__email {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.social__email-text {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.social__email-text-quote {
  color: #333333;
}
.social__input {
  display: flex;
  align-items: center;
}
.social__input-email {
  font-size: 16px;
  color: #333333;
  width: 450px;
  border-bottom: solid 1px #141414;
  padding: 5px 5px 15px 1px;
}
.social__input-email::placeholder {
  font-size: 16px;
  color: #D9D9D9;
}
.social__input-arrow {
  cursor: pointer;
  margin-left: auto;
  margin-bottom: auto;
}
.social__links {
  margin-left: auto;
}
.social__links-text {
  font-size: 16px;
  margin-bottom: 15px;
  color: #333333;
}
.social__links-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}
.social__links-list .social-media {
  cursor: pointer;
}
@media (max-width: 1300px) {
  .social {
    margin-left: 30px;
    margin-right: 30px;
  }
  .social__logo {
    width: 100px;
  }
  .social__quote {
    font-size: 24px;
    max-width: 300px;
  }
  .social__email-text-quote {
    max-width: 350px;
  }
  .social__input-email {
    width: 350px;
  }
}
@media (max-width: 800px) {
  .social__quote {
    max-width: 250px;
  }
  .social__email-text-quote {
    font-size: 16px;
    max-width: 300px;
  }
  .social__input-email {
    width: 300px;
  }
  .social__links-list {
    width: 150px;
  }
}

/*# sourceMappingURL=styles.css.map */
