.header{
    @include margins-base;
    @include flex-center-space;
    margin-top:40px;
    font-weight: $font-weight-base;
    margin-bottom: 110px;
    flex-wrap: nowrap;
    flex-shrink: 0;
    
    &__logo{
        width: 126px;
        margin-right: 350px;
    }

    &__nav{
        flex-shrink: 0 ;
        width: 500px;
        @include flex-center-space;
        color: $lightblack;
        margin-right: 70px;

        &-about{
            font-weight: $font-weight-bold;
        }

        &-link{
            color: $lightblack;
        }
    }

    &__button{
        background-color:$blue;
        color: $white;
        flex-wrap: nowrap;  
    }

    @media (max-width:1300px) {
        @include margins-medium;
        margin-bottom:70px;
        
        &__logo{
            margin-right: 80px;
        }

        &__nav{
            font-size: $font-size-smaller;
            width: 400px;
            margin-right: 40px;
        }

        &__button{
            font-size: $font-size-smaller;
        }
    }

    @media (max-width:800px) {
        margin-bottom:40px;
        &__logo{
            margin-right: 20px;
        }

        &__nav{
            width: 280px;
            margin-right: 15px;
        }

        &__button{
            padding:8px 16px;
        }
    }
}

.about{
    @include margins-base;
    @include flex-column;
    align-items: center;
    margin-bottom: 100px;
    color: $black;

    &__title{
        font-size: $font-size-big;
        font-weight: $font-weight-bolder;
        margin-bottom: 35px;
    }

    &__quote{
        max-width: 580px;
        text-align: center;
        margin-bottom: 90px;
    }

    &__img{
        min-width: 400px;
    }

    @media(max-width:1300px){
        @include margins-medium;
        &__title{
            font-size: $font-size-medium;
            font-weight: $font-weight-bold;
        }
    }

    @media(max-width: 800px){
        margin-bottom: 50px;
        &__title{
            font-weight: $font-weight-medium;
            font-size: $font-size-under-medium;
            margin-bottom: 20px;
        }

        &__quote{
            margin-bottom: 30px;
        }
    }
}

.achievement{
    @include margins-base;
    margin-bottom: 100px;

    &__title{
        font-size: $font-size-small;
        font-weight: $font-weight-medium;
        color: $black;
        margin-bottom: 20px;
        position: relative;

        &::after{
            position: absolute;
            content: '';
            background-color: $black;
            height: 1.5px;
            width: 460px;
            top:11px;
            left: 130px;
            
        }
    }

    &__quote{
        font-size: $font-size-medium;
        font-weight: $font-weight-bold;
        color: $black;
        width: 730px;
        margin-bottom: 60px;
    }

    &__bottom{
        @include flex-row;
        column-gap: 20px;
    }

    &__img{
        min-width:200px;
    }

    &__info{
        @include flex-column;
        margin-left: auto;
        text-align: center;
        color: $white;
        background-color: $blue;
        padding: 40px 48px;
        height: 525px;
        justify-content: space-between;
        &-count{
            font-size: $font-size-big;
        }
        &-name{
            font-size: $font-size-small;
        }
    }

    @media(max-width:1300px){
        @include margins-medium;
        margin-bottom: 40px;

        &__title::after{
            width: 400px;
        }

        &__quote{
            font-size: $font-size-under-medium;
            font-weight: $font-weight-medium;
            width: 600px;
            margin-bottom:30px;
        }

        &__info{
            padding: 30px 35px;
            height: 500px;

            &-count{
                font-size:$font-size-medium;
            }
        }
    }

    @media(max-width:800px){

        &__title::after{
            width: 300px;
        }

        &__quote{
            width: 350px;
        }

        &__info{
            padding: 20px 25px;
            height: 330px;

            &-count{
                font-size:$font-size-base;
            }
        }
    }
}

.service{
    @include margins-base;
    margin-bottom: 100px;

    &__title{
        font-size: $font-size-small;
        font-weight: $font-weight-medium;
        color: $black;
        margin-bottom: 20px;
        position: relative;

        &::after{
            position: absolute;
            content: '';
            background-color: $black;
            height: 2px;
            width: 510px;
            top:11px;
            left: 85px;
            
        }
    }

    &__subtitle{
        font-size: $font-size-medium;
        font-weight: $font-weight-bold;
        color: $lightblack;
        margin-bottom: 25px;
    }

    &__description{
        width: 471px;
        color: $gray;
        margin-bottom: 40px;
    }

    &__list{
        @include flex-row;
        justify-content: center;
        column-gap:20px;
    }

    &__item{
        @include flex-column;
        row-gap:20px;
        align-items: center;
        text-align: center;
        padding: 20px 27px 22px 27px;
        box-shadow: 0 0 5px $black-shadow;
        
        &-name{
            font-size:$font-size-under-medium;
            font-weight: $font-weight-bold;
            color: $lightblack;
        }

        &-description{
            color: $gray;   
        }
    }

    @media(max-width:1300px){
        @include margins-medium;
        margin-bottom: 70px;

        &__item{
            padding: 15px 20px 20px 15px;
        }
    }

    @media(max-width:800px){
        margin-bottom: 40px;

        &__title::after{
            width: 400px;
        }

        &__subtitle{
            font-size: $font-size-under-medium;
        }

        &__description{
            width: 400px;
            font-size: $font-size-small;
        }

        &__item{
            padding: 10px 8px 10px 8px;

            &-name{
                font-size:$font-size-base
            }
            &-description{
                font-size: $font-size-smaller;
            }
        }
    }
}

.footer{
    width: 100vw;
    background-color: $blue;
    height: 200px;
    margin-bottom: 100px;
    &__container{
        @include margins-base;
        height: inherit;
        @include flex-row;
        column-gap: 20px;
    }

    &__quote{
        font-size: $font-size-medium;
        font-weight: $font-weight-bold;
        color: $white;
        width: 610px;
    }

    &__right{
        width: 430px;
        margin-left: auto;

        &-text{
            color: $lightgray;
            margin-bottom: 20px;

        }

        &-button{
            font-size: $font-size-smaller;
            font-weight: $font-weight-medium;
            color: $lightblack;
            background-color: $white;
        }
    }

    @media (max-width:1300px){
        &__container{
            @include margins-medium;
        }

        &__quote{
            width: 580px;
            font-size: $font-size-under-medium;
            font-weight: $font-weight-medium;
        }

        &__right{
            width: 370px;
        }
    }
    @media (max-width:800px){
        &__quote{
            width: 500px;
            font-size: $font-size-base;
            font-weight: $font-weight-medium;
        }

        &__right{
            width: 370px;

            &-text{
                font-size: $font-size-small;
            }

            &-button{
                padding: 10px 16px;
            }
        }
    }
}

.social{
    @include margins-base;
    @include flex-row;
    margin-bottom:80px;

    &__left{
        @include flex-column;  
        row-gap: 10px;
    }

    &__logo{
        width: 126px;
    }

    &__quote{
        font-size: $font-size-medium;
        font-weight: $font-weight-bold;
        color: $lightblack;
        width: 480px;
    }

    &__right{   
        margin-left: auto;
        @include flex-column;
        row-gap:40px;
    }

    &__email{
        @include flex-column;
        row-gap: 20px;

        &-text{
            @include flex-row;
            column-gap:10px;

            &-quote{
                color: $lightblack;
            }
        }
    }

    &__input{
        @include flex-row;

        &-email{
            font-size: $font-size-small;
            color: $lightblack;
            width: 450px;
            border-bottom: solid 1px $alt-black;
            padding: 5px 5px 15px 1px;

            &::placeholder{
                font-size: $font-size-small;
                color:$lightgray;
            }
        }

        &-arrow{
            cursor: pointer;
            margin-left: auto;
            margin-bottom: auto;
        }
    }

    &__links{
        margin-left: auto;

        &-text{
            font-size: $font-size-small;
            margin-bottom: 15px;
            color: $lightblack;
        }

        &-list{
            @include flex-center-space;
            width: 200px;

            .social-media{
                cursor: pointer;
            }
        }
    }

    @media (max-width: 1300px){
        @include margins-medium;

        &__logo{
            width: 100px;
        }

        &__quote{
            font-size: $font-size-under-medium;
            max-width: 300px;
        }

        &__email-text-quote{
            max-width: 350px;
        }

        &__input-email{
            width: 350px;
        }
    }

    @media(max-width:800px){

        &__quote{
            max-width: 250px;
        }

        &__email-text-quote{
            font-size: $font-size-small;
            max-width: 300px;
        }

        &__input-email{
            width: 300px;
        }

        &__links-list{
            width: 150px;
        }
        
    }
}